---
import BaseLayout from "../layouts/BaseLayout.astro";
import Nav from "../components/Nav.astro";
import About from "../components/About.astro";

import Publications from "../components/Publications.astro";
import { profile } from "../data/profile";
---

<BaseLayout title={profile.name}>
  <Nav />
  <main>
    <About />

    <Publications />
  </main>
</BaseLayout>
